{% load staticfiles %}

<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static "css/digitalnomads.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <title>REMOTEWORKPLACES!!</title>
  </head>
  <body data-spy="scroll" data-target=".nav navbar-nav navbar-right">
    <div class="navigation">    
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">RWP</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Home <span class="sr-only">(current)</span></a></li>
              <li><a href="/about_me" >About me</a></li>
              <li><a href="#about_site" class="scrollto">About site</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cities
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Wroclaw</a></li>
                  <li><a href="#">Warszawa</a></li>
                  <li><a href="#">Krakow</a></li>
                  <li><a href="#">Poznan</a></li>
                  <li><a href="#">Gdansk</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Places
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Cafe/Pub</a></li>
                  <li><a href="#">Other</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>          
      </nav>
    </div>
    <div class="properties">
      <div class="jumbotron">
        <div class="container">
          <div class="margin">
            <h1>Find Your Favorite</br> Remote Workplaces!</h1>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h1>Search</h1>
              <div class="medium color1 center-block">
                <i class="glyphicon glyphicon-search"></i>
                <p>Browse places and choose the perfect one</p>
              </div>
            </div>
            <div class="col-md-4">
              <h1>Read</h1>
              <div class="medium color1 center-block">
                <i class="glyphicon glyphicon-book"></i>
                <p>Explore the descriptions of interesting places</p>
              </div>
            </div>
            <div class="col-md-4">
              <h1>Comment</h1>
              <div class="medium color1 center-block">
                <i class="glyphicon glyphicon-comment"></i>
                <p>Write what you think and share your opinions!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about_site">
      <div class="container">
        <h2>World is changing. More and more people work in other places than f.ex office. But sometimes it's a little problem find a perfect place to work. This site can help You find ideal place to your creative work. Enjoy!</h2>
        <div class="row">
          <div class="col-sm-6">
            <p>Sometimes people want work in other place like home or office. It's normal - people don't like feel lonely. In cafe f.ex they have calm and piece, but also - they watch clients, waitress etc. It's more interesting than sit in room. But choose place to remote work isn't easy! Did You know for sure where is WIFI, the right amount of sockets, good atmosphere? Maybe You don't mind about this but it's extremal important.</p>
            <p>This site presents places in Poland where You can work remotly, with opinion, commentairs other peoples and all necessary information for good choice. Only need you click yours city and choose the best one.</p> 
          </div>
          <div class="col-sm-6">
            <img src="../../static/photos/about_site1.jpg">
            <img src="../../static/photos/about_site2.jpg">
          </div>
        </div>
      </div>
    </div>
    <div id="set-7">
      <div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
        <a href="#set-7" class="hi-icon hi-icon-cog">Settings</a>
      </div>
    </div>
    <div class="places">
      <div class="page_header">
        <h1>Places for remotly work</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        {% for place in places %}
          <div class="col-md-4">
            <h1><a href="">{{ place.title }}</a></h1>
            <p><img src={{ place.image }} /></p>
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
  