body {
  background-color: #B1ADA7;
}

.navbar-default {
  background-image: none;
  background-color: #E0DACB; 
  font-color: #152125;
  border-color: transparent;
  border-radius: 0px;
}

.navbar {
  border-radius: 0px;
  border: none;
}

.navbar-default .navbar-nav>li>a {
  color: #152125;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;

}

.navbar-default .navbar-brand {
  color: #152125;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #978E9D;
  cursor: pointer;
  -webkit-transition: color 1s;
  transition: color 1s;  
}

img {
  width: 60%;
  margin: 10px 0 0 85px; 
}

.svg-wrapper {
  margin: 0 0 0 100px;
  top: 50%;
 }

.shape {
  fill: transparent;
  stroke-dasharray: 236 540;
  stroke-dashoffset: -403;
  stroke-width: 6px;
  stroke: black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;  
}

.text {
  color: black;
  font-family: 'Roboto Condensed';
  font-size: 22px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
  text-transform: uppercase;
  padding-left:15px;
}

.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

.about p {
  margin-top: 30px;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 18px;
  letter-spacing: 5px;
  line-height: 20px;
}

ol, ul {
  list-style: none;
}
:focus {
  outline: 0;
}
a:focus {
  outline: 0;
  text-decoration: none;
}
body{
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration:none;
}
a:hover {
  text-decoration:none;
}

.wraper{
  width:470px;
  margin:150px auto;
}

.wraper:before,
.wraper:after {
  display: table;
  content: " ";
}

.wraper:after{
  clear: both;
}

